#navbar {
    position: absolute;
    width: 100%;
}

#leftnav {
    float: left;
    font-size: 14px;
    font-family: Roboto;
    display: flex;
    justify-content: space-evenly;
    width: 128px;
}

#rightnav {
    float: right;
    font-size: 13px;
    font-family: arial, sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

#apps {
    margin-top: 10px;
}

#account {
    margin-top: 2px;
}

#center {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#google-logo {
    width: 275px;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 114px;
    margin-right: 14px;
}

#search-div {
    margin-top: 22px;
    margin-right: 15px;
    align-self: center;
    position: relative;
}

#search-input {
    width: 585px;
    height: 46px;
    border-radius: 24px;
    outline: none;
    border: 1px solid #dfe1e5;
    background: url(http://www.w3.org/2000/svg);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 45px;
    font-size: 16px;
    font: Arial;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(data:iamge/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAIAAAArNqveAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA8UlEQVRIie3UQQqCQBTG8Tet9AZqZwtBkqSuk2UlQnSBEK9TbpyZTuBzZ4s24vhyJtsEfStB/SHMH1nbtvDtzb4u/tEBlAsZJyliQ72D2MRJyoU0QK95cbuXu8Owi9jsDuntXl7zwgAN/IXnOlxI1X2JXEjPdQJ/YYDatrWJQtXtipsotG2LQhkVP2ITJychH3PPXa+WAKApvkN7LgBoiiNo1wUATRF0OmWM9S4mod2ToXowQ3tnPdiDGarWQ3Wmi1I96rsDaHa+UPV03ex8IT+1VVZxsd0f6xrVW6/VNW73x4oL6oGRTj/bT/+k/+jEPQExvBpG2smKtgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: 28px;
    margin-right: 65px;
}

#search-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 13px;
}

#voice-icon {
    position: absolute;
    margin-left: 548px;
    margin-top: 13px;
}