#navbar {
    position: absolute;
    width: 100%;
}

#leftnav {
    float: left;
    font-size: 14px;
    font-family: Roboto;
    display: flex;
    justify-content: space-evenly;
    width: 128px;
}

#rightnav {
    float: right;
    font-size: 13px;
    font-family: arial, sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

#apps {
    margin-top: 10px;
}

#account {
    margin-top: 2px;
}

#center {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    width: 100%;
    height: 50%;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

#google-logo {
    width: 275px;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 114px;
    margin-right: 17px;
}