#navbar {
    position: absolute;
    width: 100%;
}

#leftnav {
    float: left;
    font-size: 14px;
    font-family: Roboto;
    display: flex;
    justify-content: space-evenly;
    width: 128px;
}

#rightnav {
    float: right;
    font-size: 13px;
    font-family: arial, sans-serif;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

#apps {
    margin-top: 10px;
}

#account {
    margin-top: 2px;
}